<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cliente
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cadastro_cliente' %}">Cadastrar Cliente</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_clientes' %}">Listar Clientes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Assinatura
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'nova_assinatura' %}">Cadastrar Assinatura</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_assinaturas' %}">Lista de Assinaturas</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>